<!-- app/views/reservations/index.html.erb -->

<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Item</th>
      <th>Start</th>
      <th>Finish</th>
      <th>City</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.user.email %></td>
        <td><%= reservation.item.name %></td>
        <td><%= reservation.start %></td>
        <td><%= reservation.finish %></td>
        <td><%= reservation.city %></td>
      </tr>
    <% end %>
  </tbody>
</table>
